#aboutme {
    text-align: center;
    color: rgb(133, 211, 37);
}

#myphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

li {
    text-align: center;
}

h1 {
    color: black
}

h2 {
    color: rgb(106, 3, 119);
}